/* Home page css  */
.hero-banner {
  min-height: calc(100vh - 96px);
  padding: calc(35px + (88 - 35) * ((100vw - 300px) / (1920 - 300))) 0 calc(60px + (100 - 60) * ((100vw - 300px) / (1920 - 300)));
  border-radius: 0 0 calc(40px + (100 - 40) * ((100vw - 300px) / (1920 - 300))) calc(40px + (100 - 40) * ((100vw - 300px) / (1920 - 300)));
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.hero-banner .container{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.hero-banner .container >div{
  width: 50%;
}

.hero-banner .hero-img{
  display: flex;
  gap: 15px;
}

.hero-banner p {
  margin-bottom: 20px;
}

.hero-banner .hero-img img {
  object-fit: cover;
  height: 100%;
}

.hero-banner .hero-img img:nth-child(1) {
  margin-left: -56px;
  z-index: 2;
  position: relative;
}

.hero-banner .hero-img img:nth-child(2) {
  margin-top: 100px;
  position: relative;
  z-index: 1;
}

.hero-banner .hero-img img:nth-child(3) {
  margin-left: -30px;
}

.about-section {
  background: var(--black-color);
  padding: calc(150px + (200 - 150) * ((100vw - 300px) / (1920 - 300))) 0 calc(60px + (102 - 60) * ((100vw - 300px) / (1920 - 300)));
  margin-top: -110px;
}

.about-section .container {
  padding-right: 20px;
  padding-left: 20px;
}

.about-section h2 {
  color: var(--white-color);
  width: 58%;
  margin: 0 auto 15px;
  text-align: center;
}

.about-section p {
  color: var(--white-color);
  text-align: center;
  width: 70%;
  margin: 0 auto 20px;
  line-height: 1.8;
}

.about-section p a {
  color: currentColor;
  border-bottom: 1px solid var(--white-color);
}

.about-section p a:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.about-section h3.h4 {
  color: var(--white-color);
  margin-bottom: 38px;
  font-weight: 400;
}

.about-section .about-card-row{
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-right: -20px;
  margin-left: -20px;
}

.about-section .about-card-row .about-card{
  width: 25%;
  padding: 0 20px;
  margin-top: 30px;
}

.about-section .img-box img {
  border-radius: 14px;
  margin: 0 auto 20px;
  object-fit: cover;
  width: 100%;
  height: 420px;
}

.about-section .img-box+.h5 {
  color: var(--white-color);
  max-width: 90%;
  margin-bottom: 0;
}

/* Responsive CSS */
@media (max-width:1599.5px) {
  .about-section h2 {
    width: 56%;
  }

  .about-section p {
    width: 85%;
  }
}

@media (max-width:1499.5px) {
  .about-section h2 {
    width: 100%;
    text-align: center;
  }

  .about-section h2 span {
    display: block;
  }
}

@media (max-width:1399.5px) {
  .hero-banner .hero-img img {
    width: 40%;
  }

  .about-section .img-box img {
    height: 300px;
}
}


@media (max-width:1199.5px) {

  .hero-banner .container >div {
      width: 100%;
  }

  .hero-banner .hero-img {
    display: none !important;
  }

  .about-section .img-box+.h5{
    font-size: 18px;
    max-width: 100%;
    line-height: 1.4;
  }

  .about-section .img-box img {
    border-radius: 12px;
  }

}

@media (max-width: 991.5px) {


  .hero-banner .hero-content {
    margin-bottom: 0;
  }

  .about-section .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .about-section .about-card-row {
    margin-right: -15px;
    margin-left: -15px;
}

  .about-section .about-card-row .about-card{
    width: 50%;
    padding: 0 15px;
  }

  .about-section .img-box img{
    border-radius: 12px;
    height: 350px;
  }

  .about-section h2 span {
    display: inline-block;
  }

  .about-section p {
    width: 100%;
  }

  .about-section .h4 {
    margin-bottom: 25px;
  }
}

@media (max-width: 767.5px) {
  .hero-banner .container >div{
    width: 100%;
  }

  .about-section {
    text-align: center;
  }

  .about-section .img-box+.h5 {
    max-width: 100%;
  }

  .about-section .about-card-row .about-card{
    width: 100%;
  }

  .about-section .img-box img {
    height: 300px;
    width: auto;
  }
}